<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PM2.5 Prediction</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

</head>
<body>
    <h1>PM2.5 Prediction</h1>
    <form method="POST" action="/predict">
        <div class="form-group">
            <label for="datepicker">Select Date:</label>
            <input type="text" id="datepicker" class="form-control" name="selected_date" autocomplete="off">
        </div>
        <input type="submit" class="btn btn-primary" value="Predict">
    </form>
    
    <script>
        // Initialize the datepicker
        $(document).ready(function(){
            $("#datepicker").datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        });
    </script>    
</body>
</html>
